
body {
	background-color: #ececec;
}

#index-banner {
	background-color: #ee6e73;
	height: 130px;
	padding-top: 10px;
}

#index-banner .header a {
	color: #FFF;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}

h2 {
	font-weight: 200;	
}

h1, h2, h3, h4, h5 a {
	color: teal;
}

p {
	font-weight: 300;
}

b {
	font-weight: 400;	
}